@model TipoCuenta
@{ 
    ViewData["Tilte"] = "Crear Tipo Cuenta";
}
<h1>Crear Tipo Cuenta</h1>
<h5>El tipo de cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos: Prestamos,tarjetas de credito,etc.</h5>
<form asp-controller="TipoCuenta" asp-action="Crear">
    <div class="mb-3">
        <label for="Nombre" class="form-label"> Nombre</label>
        <input type="text" id="Nombre" name="Nombre" class="form-control"/>
    </div>
</form>
